<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ObserwujKażdąOfertę</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" href="/stylesheets/myui/index.css">
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark mb-4">
		<div class="container d-flex align-content-center">
			<a class="navbar-brand" id="brand" href="/">ObserwujKażdąOfertę.pl</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<% if(currentUser) { %>
					<li><a class="nav-link" href="/mypage">Moja strona</a></li>
					<li><a class="nav-link" href="/offers">Moje ogłoszenia</a></li>
					<% } %>
				</ul>
				<ul class="nav">
					<% if(!currentUser) { %>
					<li><a class="mr-1 button-outline my-auto" id="btn-login" href="/login">Zaloguj się</a></li>
					<li><a class="button-outline my-auto ml-1" href="/register">Zarejestruj się</a></li>
					<% } else { %>
					<li><a class="nav-link text-light">Zalogowano jako <%= currentUser.username %></a></li>
					<li><a class="button-outline my-auto ml-1" href="/logout">Wyloguj się</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>