<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/framework/form.css">

<form action="/register" method="POST" class="form">
	<h1 class="form__header">Rejestracja</h1>
	
	<%- include("../partials/messages") %>
	
	<div class="form__input-group">
		<input class="form__input" name="username" type="text" required="required"/>
		<span class="form__input-placeholder" data-placeholder="Nazwa użytkownika"></span>
	</div>
	<div class="form__input-group">
		<input class="form__input" name="email" type="email" required="required"/>
		<span class="form__input-placeholder" data-placeholder="Email"></span>
	</div>
	<div class="form__input-group">
		<input class="form__input" name="password" type="password" required="required"/>
		<span class="form__input-placeholder" data-placeholder="Hasło"></span>
	</div>
	<div class="form__input-group">
		<input class="form__input" name="confirmedPassword" type="password" required="required"/>
		<span class="form__input-placeholder" data-placeholder="Powtórz hasło"></span>
	</div>
	
	<button type="submit" class="form__button button button--form">Zarejestruj się</button>
	
	<a href="/" class="button--shadow button--exit"><i class="fas fa-arrow-left"></i> Wróć</a>
</form>

<script src="/js/framework/form.js"></script>
<%- include("../partials/footer") %>