:root {
	--blue: #4285F4;
	--intense-blue: #2373f3;
	--gray: #777;
	--red: #DF3737;
	--intense-red: #df2121;
	--green: #37DF53;
	--intense-green: #1ddb3d;
	--color-border: #DADCE0;
	--color-text: #272727;
	--border-gray: .6px solid #DADCE0;
	--border-blue: .6px solid #4285F4;
	--border-green: .6px solid #37DF53;
	--border-red: .6px solid #DF3737;
}