<%- include("./partials/header") %>
<link rel="stylesheet" href="/stylesheets/landing.css">

<div class="hero">
	<div class="hero__content">
		<h1 class="hero__header">
			<% if(!currentUser) { %>
				Nie trać czasu na OLX-a!
			<% } else { %>
				Miło Cię widzieć <%= currentUser.username %>!
			<% } %>
		</h1>
		<p class="hero__paragraph">
			Kupujesz na OLX? Na bierząco obserwujesz ogłoszenia? Już nie musisz tracić na to czasu, ponieważ my zrobimy to za ciebie! Kliknij guzik na dole żeby dowiedzieć się więcej 
		</p>
	
		<div class="hero__cta">
			<% if(!currentUser) { %>
			<a class="hero__button button button-fill button--large" href="/login">Zaloguj się</a>
			<a class="hero__button button button-fill button--fill-green button--large" href="/register">Zarejestruj się</a>
			<% } else { %>
			<a class="hero__button button button-fill button--fill-green button--large" href="/offers">Moje ogłoszenia</a>
			<% } %>
		</div>
	</div>
	<div class="hero__image">
		<img src="/images/main.png">
	</div>
</div>

<div class="container msg">
	<%- include("./partials/messages") %>
</div>

<%- include("./partials/footer") %>