* {
	text-decoration: none;
	font-family: montserrat;
	display: border-box;
}

/*
BUTTONS
*/
.button {
	display: inline-block;
	text-align: center;
    vertical-align: middle;
	padding: .25rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
	text-decoration: none;
    color: rgb(24, 89, 209);
	background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(90deg, rgba(31,48,196,1) 0%, rgba(16,171,225,1) 95%);
    border: solid 0.1rem transparent;
	border-radius: 0.5rem;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
	user-select: none;
	outline: none;
	cursor: pointer;
}
.button:focus { outline: none; }
.button:hover {
    box-shadow: none;
    color: white;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out, color .2s ease-in-out;
}

.button-fill {
	display: inline-block;
	text-align: center;
    vertical-align: middle;
	padding: .25rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
	text-decoration: none;
	color: white;
	background-image: linear-gradient(135deg, #23AEEB 0%, #4783EB 105%);
	border-radius: 2rem;
	user-select: none;
	outline: none;
	cursor: pointer;
}
.button-fill:focus { outline: none; }
.button-fill:hover { text-decoration: none; color: white; }

.button-outline {
	display: inline-block;
	text-align: center;
    vertical-align: middle;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	color: white;
	background-color: transparent;
	border: solid 1px white;
	border-radius: .5rem;
	cursor: pointer;
	outline: none;
	user-select: none;
	transition: .25s ease-in-out;
}
.button-outline:focus { outline: none; }
.button-outline:hover { color: inherit; background-color: white; text-decoration: none; }

.shadow-btn {
	display: inline-block;
	padding: .25rem 1.2rem;
    font-size: 1.25rem;
    font-weight: 400;
	color: #5e5e5e;
	text-decoration: none;
	user-select: none;
	outline: none;
	cursor: pointer;
}
.shadow-btn:focus { outline: none; color: #5e5e5e;}
.shadow-btn:hover { text-decoration: none; color: #5e5e5e;}

.mybtn {
	display: inline-block;
	text-align: center;
    vertical-align: middle;
	padding: .375rem .75rem;
    font-size: 1.25rem;
    font-weight: 400;
	color: white;
	background-color: #4783EB;
	text-decoration: none;
	user-select: none;
	outline: none;
	cursor: pointer;
}

.btn-fine { border-radius: 0.8rem; }
.btn-fine:hover {
    box-shadow: none;
    color: white;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out, color .2s ease-in-out;
}

.btn-large {
	font-size: 1.5rem;
	padding: .4rem 1.4rem;
}

@media only screen and (min-width: 995px) {
	nav .button, .button-outline {
		line-height: 1.65rem;
		margin-top: auto; margin-bottom: auto;
	}
}


@media only screen and (max-width: 900px) {
	.shadow-btn {font-size: 1rem; padding: .25rem 1.4rem;}
}

@media only screen and (max-width: 500px) {
	.btn-large {
		font-size: 1.2rem;
		padding: .3rem 1.1rem;
	}
}

/*
BUTTON COLORS
*/
.btn-update {
    color: rgb(97, 194, 52);
	background-image: linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0)
	),linear-gradient(90deg, rgba(22,168,66,1) 0%, rgba(113,228,66,1) 100%);
}

.btn-delete {
	color: rgba(201,32,32,1);
	background-image: linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0)
	),	linear-gradient(90deg, rgb(218, 50, 50) 0%, rgba(201,32,32,1) 100%);
}

.btn-dim {
    color: rgb(24, 89, 209);
	background-image: linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0)
	),linear-gradient(90deg, rgba(17,80,210,1) 0%, rgba(52,128,213,1) 100%);
}

.btn-update-dim {
    color: rgb(48,181,30);
	background-image: linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0)
	),linear-gradient(90deg, rgba(48,181,30,1) 0%, rgba(99,208,58,1) 100%);
}

.btn-delete-dim {
	color: rgba(201,32,32,1);
	background-image: linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0)
	),	linear-gradient(90deg, rgb(218, 50, 50) 0%, rgba(201,32,32,1) 100%);
}

.btn-fill-green { background-image: linear-gradient(45deg, #1CE13D 0%, #39D534 105%); }

/*
HR
*/
.hr-sm {
	margin: 0.75rem auto 1.5rem;
	width: 70%;
	background: linear-gradient(90deg, rgba(16,85,220,0.5) 0%, rgba(16,91,225,0.5) 100%);
 	height: 1px;
	border-radius: 1rem;
}

.hr-lg {
	margin: 1rem auto 2.5rem;
	width: 70%;
	background: linear-gradient(90deg, rgba(16,85,220,0.5) 0%, rgba(16,91,225,0.5) 100%);
 	height: 2px;
	border-radius: 1rem;
}