:root {
	--blue: #4285F4;
	--intense-blue: #2373f3;
	--gray: #777;
	--red: #DF3737;
	--intense-red: #df2121;
	--green: #37DF53;
	--intense-green: #1ddb3d;
	--text-color: #272727;
	--border: .6px solid #DADCE0;
	--border-color: #DADCE0;
	--border-blue: .6px solid #4285F4;
	--border-green: .6px solid #37DF53;
	--border-red: .6px solid #DF3737;
}

/* #btn-login {
	background: linear-gradient(270deg, rgba(136,72,209,1) 0%, rgba(84,119,231,1) 98%);
	border-radius: 25px;
	font-size: 1rem;
	border: none;
	font-weight: 500;
} */