.mybox {
    background-color: #FCFCFC !important;
}

.row { margin: 0 !important; }

/* PROFILE SECTION */
.profile {
    margin-bottom: 40px;
}

#directory {
    font-size: 22px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 15px;
}

.profile .box-outline {
    display: flex;
    align-items: center;
    padding: 15px 30px !important;
}

.profile img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-bottom: auto;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

#profile-text {
    display: inline-block;
    margin-left: 20px;
}

#profile-text h1 {
    display: inline-block;
    font-size: 34px;
    font-weight: 500;
    color: #272727;
    margin-bottom: 10px;
}

#profile-text p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    color: #A2A2A2;
}

#profile-buttons {
    margin-left: auto;
    margin-bottom: auto;
    float: right;
}

#profile-buttons a {
    margin-left: 10px;
}

/* DATA SECTION */
#data .row {
    margin-bottom: 25px;
}

#main-info {
    margin: 0;
}

#main-info p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    color: var(--main-blue);
    margin-bottom: 5px;
}

#main-info div:last-child h1 { font-size: 44px; }

#main-info h1 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 50px;
    color: var(--main-text-color);
}