#description {
	margin-top: 40px;
	font-size: 24px;
	font-family: "Roboto";
	letter-spacing: 0;
	font-weight: 300;
	overflow-y: auto;
	overflow-x: hidden;
	cursor: default;
}

.desciption__tag {
	font-family: 'Roboto';
	font-weight: 400;
	color: var(--blue);
	font-size: 24px;
	margin-bottom: 5px;
	user-select: none;
	cursor: default;
}

@media only screen and (max-width: 1920px) {
	#description {
		margin-top: 30px;
		font-size: 20px;
	}

	.desciption__tag {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1400px) {
	#description {
		margin-top: 25px;
		font-size: 18px;
	}

    .desciption__tag {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1120px) {
	#description {
		margin-top: 22px;
		font-size: 17px;
    }
}

@media only screen and (max-width: 991px) {
	#description {
        width: 95%;
    }
}

@media only screen and (max-width: 520px) {
	#description {
        font-size: 15px;
    }
}