.box--outline {
	padding: 17.5px 25px;
}

.carousel-image {
	margin: auto;
	object-fit: cover;
	background-size: cover;
    background-position: center;
    width: 100%;
	height: 500px;
	border-radius: 8px;
	user-select: none;
}

#offer__data {
	margin-top: 30px;
}


/* MEDIA */
@media only screen and (max-width: 1920px) {
	.box--outline { padding: 15px 25px; }

	.carousel-image {
		height: 400px;
	}
}

@media only screen and (max-width: 1400px) {
	.box--outline { padding: 15px 20px; }

	.carousel-image {
		height: 320px;
	}

	#offer__data { margin-top: 26px; }
}

@media only screen and (max-width: 1120px) {
	.box--outline { padding: 13px 18px; }

	.carousel-image {
		height: 285px;
	}

	#offer__data { margin-top: 24px; }
}

@media only screen and (max-width: 991px) {
	.container { margin-top: 0; }

	.box--outline {
		padding: 10px 12px;
	}

	.carousel-image { width: 80%; height: auto;}
}