.container {
	position: relative;
}

/* HEADING */
#heading {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.heading__title {
	display: inline-block;
	margin: 0;
	vertical-align: baseline;
	font-family: 'Roboto';
	font-size: 28px;
	font-weight: 300;
	color: var(--text-color);
}

.heading__button {
	position: relative;
	bottom: 3px;
	font-size: 19px;
}


/* HR */
.highlight {
	margin: 5px 0 40px;
}

.line {
	margin: 5px 0;
}

/* OFFERS */
#offers {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 50px;
}

/* OFFER */
.offer {
	height: fit-content;
	padding: 0;
	border: var(--border);
	border-radius: 8px;
	transition: border 0.3s;
	cursor: pointer;
}

.offer:hover {
	border-color: var(--intense-blue);
}

.active {
	border-color: var(--intense-blue);
}

.active .offer__content {
	display: block;
	margin-top: 20px;
}

.slider {
	height: 200px;
}

.offer__image {
	object-fit: cover;
	width: 100%;
	height: 250px;
	border-radius: 8px 8px 0 0;
	background-size: cover;
	background-position: center;
}

.offer__text {
	padding: 15px 20px;
	transition: .3s;
}

.offer__text:hover {
	transition: .3s;
}

.offer__heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.offer__title,
.offer__price {
	font-size: 17px;
	font-weight: 500;
}

.offer__date {
	font-size: 15px;
}

.offer__content {
	display: none;
}

.offer__description {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 125px;
	overflow-wrap: anywhere;
}

.offer__buttons {
	margin-top: 15px;
}

.offer__delete-form {
	display: inline-block;
}

.offer--changes::after {
	content: attr(data-placeholder);
	position: absolute;
	top: -.5rem; right: -.5rem;
	background-color: #d62424;
	color: white;
	text-align: center;
	vertical-align: middle;
	border-radius: 100rem;
	padding-top: 3px;
	width: 30px;
	height: 30px;
	font-size: 1.1rem;
	font-weight: 500;
}

@media only screen and (max-width: 991px) {
	.heading__title {
		font-size: 24px;
	}
}

@media only screen and (max-width: 766px) {
	.heading__button {
		font-size: 16px;
	}
}

@media only screen and (max-width: 575px) {
	.heading__button {
		font-size: 15px;
	}
}

@media only screen and (max-width: 450px) {
	.heading__title {
		font-size: 18px;
	}

	.heading__button {
		font-size: 13px;
		padding: 6px 14px;
	}

	.offer__image {
		height: 200px;
	}

	.offer__title {
		font-size: 16px;
	}

	.offer__description {
		font-size: .9rem;
	}

	.offer__button {
		padding: .2rem .6rem;
		font-size: .9rem;
	}
}