.container {
	position: relative;
}

.header { margin-top: 30px; display: flex; justify-content: space-between;}

/* TITLE */
.header .title {
	display: inline-block;
	margin: 0;
	font-family: 'Roboto';
	font-size: 28px;
	font-weight: 400;
	color: var(--main-text-color);
}

.header a {
	position: relative;
	bottom: 3px;
	font-size: 19px;
}

.highlight { margin: 5px 0 40px; }

/* ADD BUTTON */

/* .add-button {
	position: relative;
	float: right;
	padding: .375rem .75rem;
    font-size: 1.25rem;
	border-radius: 0.25rem;
	font-weight: 500;
	color: #fafafa;
	background-image: linear-gradient(270deg, #0F5DDC 0%, #1E86D1 100%);
	transition: padding-left 0.35s ease-in-out;
	z-index: 1;
}

.add-button:hover {
	text-decoration: none;
	color: white;
	padding-left: 2rem;
}

.add-button::before {
	position: absolute;
	content: "\f067 ";
	font: normal normal normal 14px/1 FontAwesome;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 1.1rem;
	border-radius: 0.25rem;
	background-image: linear-gradient(90deg, rgba(22,168,66,1) 0%, rgba(113,228,66,1) 100%);
	z-index: -1;
	-webkit-box-shadow: 0px 0px 73px -34px rgba(23,209,35,1);
	-moz-box-shadow: 0px 0px 73px -34px rgba(23,209,35,1);
	box-shadow: 0px 0px 73px -34px rgba(23,209,35,1);
	transition: opacity 0.35s ease-in-out;
	opacity: 0;
	padding: 14px 0 14px 14px;
}

.add-button:hover::before {
	transition: opacity 0.75s ease-in-out;
	opacity: 1;
} */


/* CARD */
.offer { border: var(--main-border-gray); }

/* .card-body { padding-bottom: 10px; } */

.offer.changes::after {
	content: attr(data-placeholder);
	position: absolute;
	top: -.5rem; right: -.5rem;
	background-color: #d62424;
	color: white;
	text-align: center;
	vertical-align: middle;
	border-radius: 100rem;
	padding-top: 3px;
	width: 30px;
	height: 30px;
	font-size: 1.1rem;
	font-weight: 500;
}

.offers-image {
    object-fit: cover;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}

#offers--link-btn {
	display: inline-block;
}


@media only screen and (max-width: 991px) {
	.header .title { font-size: 24px;}
}

@media only screen and (max-width: 766px) {
	.header a { font-size: 16px; }
}

@media only screen and (max-width: 575px) {
	.card { width: 90%; }
	.description { display: none; }

	.header a { font-size: 15px; }
}

@media only screen and (max-width: 450px) {
	.header .title { font-size: 20px; }
	.header a { font-size: 13px; padding: 6px 14px; }

	.offers-image { height: 200px; }

	.card-body .description { font-size: .9rem; }
	.card-body .button {
		padding: .2rem .6rem;
		font-size: .9rem;
	}
}