<%- include("../partials/header") %>

<form action="/reset/<%= token %>" method="POST" class="form">
	<h1 class="form__header">Zmień hasło</h1>
	
	<%- include("../partials/messages") %>
	
	<div class="form__input-group">
		<input class="form__input" name="password" type="password" required="required"/>
		<span class="form__input-placeholder" data-placeholder="Nowe hasło"></span>
	</div>
	<div class="form__input-group">
		<input class="form__input" name="confirmedPassword" type="password" required="required"/>
		<span class="form__input-placeholder" data-placeholder="Potwierdź hasło"></span>
	</div>
	
	<button type="submit" class="form__button button button--form">Zmień hasło</button>
	
	<a href="/" class="form button button--exit"><i class="fas fa-arrow-left"></i> Wróć</a>
</form>

<%- include("../partials/footer") %>