/* PANEL */
.panel {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 50px;
}

/* PROFILE SECTION */
#user {
    grid-row: 1/2;
}

.user__page-name {
    font-size: 22px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 15px;
}

.user__container {
    display: flex;
    align-items: center;
    padding: 15px 30px !important;
}

.user__profile-icon {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-bottom: auto;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.user__text {
    display: inline-block;
    margin-left: 20px;
}

.user__header {
    display: inline-block;
    font-size: 34px;
    font-weight: 500;
    color: #272727;
    margin-bottom: 10px;
}

.user__paragraph {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    color: #A2A2A2;
}

.user__buttons {
    margin-left: auto;
    margin-bottom: auto;
}

.user__buttons a {
    margin-left: 10px;
}

/* STATISTICS */
#statistics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    grid-row: 2/6;
}

.statistics__items {
    grid-column: 1/2;
}

.statistics__item {
    margin-bottom: 20px;
}

.statistics__item-header {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: var(--blue);
    margin-bottom: 5px;
}

.statistics__item-data {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 40px;
    color: var(--color-text);
}
.statistics__item-data:last-child { font-size: 38px; }

/* CHART */
.statistics__charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    grid-column: 2/6;
}