.mybox {
    background-color: #FCFCFC !important;
}

.row { margin: 0 !important; }

/* PROFILE SECTION */
#header {
    margin-bottom: 40px;
}

#directory {
    font-size: 18px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 15px;
}

#header .box-outline {
    display: flex;
    align-items: center;
    padding: 15px 30px !important;
}

#header img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-bottom: auto;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

#header-text {
    display: inline-block;
    margin-left: 20px;
}

#header-text h1 {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    color: #272727;
    margin-bottom: 10px;
}

#header-text p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    color: #A2A2A2;
}

#header-buttons {
    margin-left: auto;
    margin-bottom: auto;
    float: right;
}

#header-buttons a {
    margin-left: 10px;
}